body {
    background-color: #111111;
}
h1 {
    color: #E2E80F;
    text-align: center;
    font-size: 150%;
}
p {
    color: #eeeeee;
    font-size: 120%;
    line-height: 125%;
}
.credits {
    text-decoration-line: underline;
    color: #49DAFF;
}
p.credits:hover {
    cursor: pointer;
}
.film-description {
    font-size: 95%;
    font-style: italic;
}