/* COLORS TO BE USED:

light green :  #7ed56f
medium green:  #55c57a
dark green:    #28b485
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
        hsla(111, 55%, 64%, 0.801),
        hsla(160, 64%, 43%, 0.801)),
        url(../Img/hero.jpg);
    /*we can add this gradient */
    background-size: cover;
    background-position: top;


    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%)
        /*this is a way of taking out chunks of pictures and you can do it by taking out specific shapes or using specific coordiniates to get even more precise... coordinates are given starting from top left of image and working to the right "clock-wise"*/

}

.logo-box {
    position: absolute;
    top: 50px;
    left: 50px;
}

.logo {
    height: 55px;
    animation: moveInBottom 1s ease-out;
    animation-delay: .1s;
    /*width will auto calc based on height*/
}

.text-box {
    position: absolute;
    top: 40%; /* in relation of the parent element*/
    left: 50%;
    transform: translate(-50%, -50%); /* in relation to the element itself*/
    text-align: center; /* by declaring this here it is telling the button to position itself in the center of the text box area*/
}

.heading-primary {
    color: #ffffff;
    text-transform: uppercase;
    backface-visibility: hidden; /*this smooths out the animation. determines if the back part(background) of whatever is being animated is visable on that animation*/
    margin-bottom: 60px; /*this sets the marg on the bot to push dowb the button and give the button some space */
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation: moveInTop 1s ease-out ;
    
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation: moveInBottom 1s ease-out ;
    animation-delay: .05s;
}

@keyframes moveInTop {
    0%{
        opacity: 0; /*browsers optimized for opacity and tranform mostly*/
        transform: translateY(-100px)
    }

    50%{
        transform: translateY(10px)
    }

    100%{
        opacity: 1;
        transform: translateY(0)
    }
}
@keyframes moveInBottom {
    0%{
        opacity: 0; /*browsers optimized for opacity and tranform mostly*/
        transform: translateY(100px)
    }

    50%{
        transform: translateY(-10px)
    }

    100%{
        opacity: 1;
        transform: translateY(0)
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2); /* the 3rd value is going to dictate the amount of blure given*/
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

}

.btn-white{
    background-color: #fff;
    color: #777;
}