body {
    background: lightslategray
}

.banner-container {
    width: 100%;
}
.baner-txt-center {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 84px;
    letter-spacing: 5px;
    text-align: center;
}

header {
    font-size: 100px;
    text-align: center;

}
h1 {
    position: relative;
    margin: 0px 200px;
}
p {
    position: relative;
    left: 50px;
    width: 50%;
    font-size: 20px;
    padding: 10px, 100px; 
    border: 1px solid black;
}

.list-below-article {
    position: relative;
    left: 50px;
    font-size: 20px;
    width: 33%;
    
}

.ad1 {
    position: relative;
    left: 950px;
    bottom: 400px;
    border: 1px solid #000000;
    width: 15%;
}
.ad2 {
    position: relative;
    left: 950px;
    bottom: 375px;
    border: 1px solid #000000;
    width: 15%;
}
.ad3 {
    position: relative;
    left: 950px;
    bottom: 350px;
    border: 1px solid #000000;
    width: 15%;
}

.img1 {
    width: 100px;
    height: 50px;
    position: relative;
}

.banner-image {
    width: 100%;
    height: 500px;
    border: 1px solid black;
}

.second-banner {
    width: 100%;
    height: 500px;
    border: 1px solid black;
}