body {
  font-family: Montserrat;
  background-color: #C9CDD0;
  margin: 0px;
}

.header-main {
  width: 100vw;
  height: 65vh;

}

.diamond {
  position: relative;
  top: -180px;
  background-color: #C9CDD0;
  height: 60vh;
  width: 100vw;
  clip-path: polygon(50% -5%, 100% 50%, 50% 105%, 0% 50%);
}

/* .logo-image {
  position: relative;
  left: 46.5vw;
  height: 150px;
  width: 150px;
  background-image: url(diamond_logo.png);
  background-size: 120px 120px;
  background-repeat: no-repeat;

} */

.diamond-text {
  width: 100vw;
  font-size: 65px;
  font-family: Parisienne;
  color: black;
  transform: translateY(200px);
  text-align: center;
}

/* MEDIA QUARY NEEDED FOR TEXT ABOVE //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.headerTop-color-div {
  position: relative;
  top: 0px;

  z-index: -1;
  background-color: #242840;
  height: 22vh;
  width: 100vw;
}


.headerBottom-color-div {
  position: relative;
  top: -360px;

  z-index: -1;
  background-color: #516373;
  height: 22vh;
}

.navbar-main {
  margin-top: 7vh;
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 20vh;
  width: 100vw;
}

/* NAV LINK TEXTS NEEDS MEDIA QUERY //////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.nav-link {
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.main-container {
  display: flex;
  width: 99vw;


}

.image-houser {
  background-color: #C9CDD0;
  height: 100vh;
  width: 40vw;
}

/* PHOTO NEEDS A HEIGHT/WIDTH/DISPLAY MEDIA QUERY /////////////////////////////////////////////////////////////////////////////////////////////// */
.actual-image {
  margin-left: 2.5vw;
  margin-right: 2vw;
  height: 800px;
  width: 620px;
  background-image: url(main_photo.JPG);
  background-size: 620px 800px;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 5px #ccc;
  border: solid #C9CDD0 2px;
}

/* THE TEXT INSIDE THE H1, A CHILD OF THIS BELOW ELEMENT NEEDS A MEDIA QUARY //////////////////////////////////////////////////////////////////////// */
.main-story-container {
  position: relative;
  left: 20%;
  height: 10vh;
  width: 20vw;
  font-family: Parisienne;
  font-size: 65px;
}

.ourStory-text {
  margin-top: 0px;
}

/* NEEDS TEXT MEDIA QUERRY ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.main-story-text {
  position: relative;
  right: 60px;
  width: 35vw;
  font-family: Montserrat;
  font-size: 30px;
}

.map-location-link {
  text-decoration: none;
  color: black;
}

.map-location-link:hover {
  margin-top: 5px;
  text-decoration: underline;
}

.location-image {
  height: 115px;
  width: 190px;
}

.location-description {
  height: 4vh;
  width: 13vw;
}

.circle-logo {
  position: relative;
  left: 46.5vw;
  height: 150px;
  width: 150px;
  background-image: url(circle_logo.png);
  background-size: 120px 120px;
  background-repeat: no-repeat;
}

.when-text-container {
  position: relative;
  left: 17vw;
}

.when-text {
  width: 70vw;
  font-family: Montserrat;
  font-size: 30px;
}

.centered-registry-icon {
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* BELOW IS MAIN MEDIA QUERIE FOR SMALLER DEVICES */
@media screen and (max-width: 480px) {

  /* .header-main {
    position: relative;
    right: 6.5%;
    width: 100vw;
    height: 55vh;
  }
*/
  .headerTop-color-div {
    height: 23vh;
  }

  .headerBottom-color-div {
    height: 23vh;
  }

  .diamond-text {
    position: relative;
    margin: 0 auto;
    width: 65vw;
    font-size: 40px;
    transform: translateY(180px);
  }

  .navbar-main {
    margin: 0px;
    padding: 0px;
  }

  .nav-link {
    font-size: 14px;
  }

  .main-container {
    display: block;
    margin: 0 auto;
    width: 100vw;
  }

  .image-houser {
    height: 23vh;
    width: 90vw;
  }

  .actual-image {
    position: relative;
    display: block;
    height: 23vh;
    width: 42vw;
    background-size: 155px 185px;
    margin: 0 auto;
    transform: translate(15%, -50%)
  }

  .main-story-container {
    height: 37vh;
    margin-right: 0px;
  }

  .ourStory-text {
    font-size: 45px;
    width: 50vw;
    position: relative;
    left: 40%;
    top: -20%;
  }

  .main-story-text {
    position: relative;
    text-align: center;
    left: 40%;
    bottom: 25%;
    width: 50vw;
    font-size: 12px;
  }
}





/* BELOW IS FOR IPHONE X */
@media screen and (max-height: 900px) {
  .headerTop-color-div {
    height: 22.5vh;
  }

  .diamond-text {
    width: 85vw;
    transform: translateY(190px);
    font-size: 40px;
  }

  .headerBottom-color-div {
    height: 22.5vh;
  }
}

/* BELOW IS FOR IPHONE 6/7/8 PLUS! */
@media screen and (max-height: 800px) {
  .headerTop-color-div {
    height: 24.5vh;
  }

  .diamond-text {
    transform: translateY(170px);
    font-size: 37px;
    width: 65vw;
  }

  .headerBottom-color-div {
    height: 25vh;
  }
}

/* BELOW IS FOR IPHONE 6/7/8 */
@media screen and (max-height: 700px) {
  .headerTop-color-div {
    height: 27.5vh;
  }

  .diamond-text {
    transform: translateY(150px);
    font-size: 37px;
  }

  .headerBottom-color-div {
    height: 27.3vh;
  }
}