body {
  font-family: Montserrat;
  background-color: #C9CDD0;
  margin: 0px;
}

.header-main {
  width: 100vw;
  height: 65vh;

}

.diamond {
  position: relative;
  top: -180px;
  background-color: #C9CDD0;
  height: 60vh;
  width: 100vw;
  clip-path: polygon(50% -5%, 100% 50%, 50% 105%, 0% 50%);
}

.diamond-text {
  width: 100vw;
  font-size: 65px;
  font-family: Parisienne;
  color: black;
  transform: translateY(200px);
  text-align: center;
}

/*GENERAL STYLING FOR THE FANCY SAUCE HEADER I MADE */

.headerTop-color-div {
  position: relative;
  top: 0px;
  z-index: -1;
  background-color: #242840;
  height: 22vh;
  width: 100vw;
}


.headerBottom-color-div {
  position: relative;
  top: -360px;
  z-index: -1;
  background-color: #516373;
  height: 22vh;
}

/*GENERAL STYLING FOR THE FANCY SAUCE NAVBAR I MADE */
.navbar-main {
  margin-top: 7vh;
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  height: 20vh;
  /* width: 100vw; */
}

/* Adjusted/ added width here////////////////////////////////////////////////////// */
.nav-link {
  width: 24vw;
  font-size: 25px;
  text-decoration: none;
  color: black;
}

/*GENERAL STYLING FOR THE FANCY SAUCE HOMEPAGE I MADE */
.main-container {
  display: flex;
  width: 99vw;
}

.image-houser {
  background-color: #C9CDD0;
  margin-top: 10vh;
  height: 100vh;
  width: 40vw;
}

/* PHOTO NEEDS A HEIGHT/WIDTH/DISPLAY MEDIA QUERY /////////////////////////////////////////////////////////////////////////////////////////////// */
.actual-image {
  margin-left: 2.5vw;
  margin-right: 2vw;
  height: 800px;
  width: 620px;
  background-image: url(main_photo.JPG);
  background-size: 620px 800px;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 5px #ccc;
  border: solid #C9CDD0 2px;
}

/* THE TEXT INSIDE THE H1, A CHILD OF THIS BELOW ELEMENT NEEDS A MEDIA QUARY //////////////////////////////////////////////////////////////////////// */
.main-story-container {
  position: relative;
  left: 5%;
  margin: 0 auto;
  margin-top: 10vh;
  height: 10vh;
  /* width: 20vw; */
  font-family: Parisienne;
  font-size: 55px;
  text-align: center;
}

.ourStory-text {
  width: 25vw;
  font-size: 70px;
  margin-top: 0px;
}

/* NEEDS TEXT MEDIA QUERRY ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.main-story-text {
  position: relative;
  right: 60px;
  width: 35vw;
  font-family: Montserrat;
  font-size: 25px;
  line-height: 35px;
}

.location-text-map {
  margin: 0 auto;
  margin-bottom: 15vh;
  width: 68vw;
  font-family: Montserrat;
  text-align: center;
  font-size: 30px;
}

#mapContainer {
  width: 250px;
  text-align: center;
}

.map-location-link {
  text-decoration: none;
  color: black;
}

.map-location-link:hover {
  margin-top: 5px;
  text-decoration: underline;
}

.location-image {
  height: 17vh;
  width: 15vw;
}

.location-description {
  text-align: center;
  height: 4vh;
  /* width: 13vw; */
}

.circle-logo-home {
  position: relative;
  left: 45vw;
  top: -14vh;
  height: 150px;
  width: 150px;
  transform: rotate(45deg);
  background-image: url(circle_logo.png);
  background-size: 120px 120px;
  background-repeat: no-repeat;
}

.circle-logo-when {
  position: relative;
  left: 44vw;
  top: -17.2vh;
  height: 150px;
  width: 150px;
  transform: rotate(135deg);
  background-image: url(circle_logo.png);
  background-size: 120px 120px;
  background-repeat: no-repeat;
}

.circle-logo-where {
  position: relative;
  left: 45vw;
  top: -14vh;
  height: 150px;
  width: 150px;
  transform: rotate(45deg);
  background-image: url(circle_logo.png);
  background-size: 120px 120px;
  background-repeat: no-repeat;
}

.circle-logo-registry {
  position: relative;
  left: 44vw;
  top: -17.2vh;
  height: 150px;
  width: 150px;
  transform: rotate(135deg);
  background-image: url(circle_logo.png);
  background-size: 120px 120px;
  background-repeat: no-repeat;
}

.when-text-container {
  width: 100vw;

}

.when-text {
  margin: 0 auto;
  margin-bottom: 15vh;
  width: 68vw;
  font-family: Montserrat;
  text-align: center;
  font-size: 30px;
}

.centered-registry-icon {
  position: relative;
  display: block;
  top: 50%;
  left: 51.4%;
  transform: translate(-50%, -50%);
  margin-bottom: 150px;
}

#map {
  position: relative;
  bottom: 10vh;
  width: 40vw;
  height: 45vh;
  border: 2px solid rgb(63, 81, 181, 0.4);
  margin: 0 auto;
  /* margin-bottom: 10vh;
  margin-top: 10vh; */

}

/* MEDIA QUERIES START HERE */



/* BELOW IS MAIN GENERAL MEDIA QUEREY FOR SMALLER DEVICES */
@media screen and (min-width: 320px) and (max-width: 767px) {

  /* FOR THE HEADER STYLING */

  .headerTop-color-div {
    height: 23vh;
  }

  .headerBottom-color-div {
    height: 23vh;
  }

  .diamond-text {
    position: relative;
    margin: 0 auto;
    width: 65vw;
    font-size: 35px;
    transform: translateY(180px);
  }

  /* FOR THE NAVBAR STYLING */
  .navbar-main {
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
  }

  .nav-link {
    font-size: 14px;
  }

  .circle-logo-home {
    position: relative;
    left: 40.5vw;
    top: -10vh;
    height: 75px;
    width: 75px;
    background-size: 60px 60px;
  }

  .circle-logo-when {
    position: relative;
    left: 38.5vw;
    top: -11.5vh;
    height: 75px;
    width: 75px;
    background-size: 60px 60px;
  }

  .circle-logo-where {
    position: relative;
    left: 40.5vw;
    top: -10vh;
    height: 75px;
    width: 75px;
    background-size: 60px 60px;
  }

  .circle-logo-registry {
    position: relative;
    left: 38.5vw;
    top: -11.5vh;
    height: 75px;
    width: 75px;
    background-size: 60px 60px;
  }

  /* FOR THE HOME PAGE STYLING */
  .main-container {
    display: block;
    margin: 0 auto;
    width: 100vw;
  }

  .image-houser {
    margin: 0 auto;
    height: 23vh;
    width: 90vw;
  }

  .actual-image {
    margin: 0 auto;
    position: relative;
    display: block;
    height: 23vh;
    width: 42vw;
    background-size: 155px 185px;
  }

  .main-story-container {
    height: 50vh;
    margin-right: 0px;
    left: 0%;
  }

  .ourStory-text {
    font-size: 45px;
    width: 53vw;
    position: relative;
    left: 25%;
    top: -18%;
  }

  .main-story-text {
    position: relative;
    text-align: center;
    left: 23%;
    bottom: 25%;
    width: 55vw;
    font-size: 15px;
    line-height: 14px;
  }

  /* FOR THE WHEN PAGE STYLING */

  .when-text-container {
    margin: 0 auto;
    width: 65vw;
    text-align: center;

  }

  .when-text {
    transform: translate(-3%, -12%);
    font-size: 17px;
  }

  #mapContainer {
    height: auto;
    width: auto;
  }

  .location-text-map {
    transform: translateY(-10vh);
    font-size: 17px;
  }

  .location-image {
    height: 50px;
    width: 50px;
  }

  #map {
    width: 80vw;
    height: 60vh;
    margin: 0px auto;
    margin-top: 7vh;
    border: 2px solid rgba(63, 81, 181, 0.4);
    position: relative;
    overflow: hidden;
  }

}





/* BELOW IS FOR IPHONE X  and larger width screens*/
/*@media screen and (min-width:768px) and (max-width:1023px)*/
@media only screen and (max-width : 320px) {
  .headerTop-color-div {
    height: 22.5vh;
  }

  .diamond {
    width: 98vw;
  }

  .diamond-text {
    width: 85vw;
    transform: translateY(190px);
    font-size: 40px;
  }

  .headerBottom-color-div {
    height: 22.5vh;
  }

  /* BELOW IS THE transitionING Logo */
  .circle-logo-home {
    position: relative;
    left: 38vw;
    top: -10vh;
    height: 75px;
    width: 75px;
    background-size: 60px 60px;
  }

  .circle-logo-when {
    position: relative;
    left: 36vw;
    top: -11.5vh;
    height: 75px;
    width: 75px;
    background-size: 60px 60px;
  }

  .circle-logo-where {
    position: relative;
    left: 38vw;
    top: -10vh;
    height: 75px;
    width: 75px;
    background-size: 60px 60px;
  }

  .circle-logo-registry {
    position: relative;
    left: 36vw;
    top: -11.5vh;
    height: 75px;
    width: 75px;
    background-size: 60px 60px;
  }
}

/* BELOW FOR IPAD PORTRAIT*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

  .headerTop-color-div {
    height: 18vh;
  }

  .headerBottom-color-div {
    height: 18vh;
  }

  .diamond-text {
    position: relative;
    margin: 0 auto;
    width: 65vw;
    font-size: 50px;
    transform: translateY(250px);
  }

  .navbar-main {
    margin-top: -5%;
  }

  .nav-link {
    font-size: 24px;
  }

  .circle-logo-home {
    position: relative;
    left: 40.5vw;
    top: -14vh;
    height: 150px;
    width: 150px;
    transform: rotate(45deg);
    background-image: url(circle_logo.png);
    background-size: 120px 120px;
    background-repeat: no-repeat;
  }

  .circle-logo-when {
    position: relative;
    left: 38vw;
    top: -17.2vh;
    height: 150px;
    width: 150px;
    transform: rotate(135deg);
    background-image: url(circle_logo.png);
    background-size: 120px 120px;
    background-repeat: no-repeat;
  }

  .circle-logo-where {
    position: relative;
    left: 40.5vw;
    top: -14vh;
    height: 150px;
    width: 150px;
    transform: rotate(45deg);
    background-image: url(circle_logo.png);
    background-size: 120px 120px;
    background-repeat: no-repeat;
  }

  .circle-logo-registry {
    position: relative;
    left: 38vw;
    top: -17.2vh;
    height: 150px;
    width: 150px;
    transform: rotate(135deg);
    background-image: url(circle_logo.png);
    background-size: 120px 120px;
    background-repeat: no-repeat;
  }


  .main-container {
    display: block;
    margin: 0 auto;
    width: 100vw;
  }

  .image-houser {
    margin: 0 auto;
    height: 23vh;
    width: 90vw;
  }

  .actual-image {
    margin: 0 auto;
    position: relative;
    top: -60%;
    display: block;
    height: 35vh;
    width: 42vw;
    background-size: 305px 385px;
  }

  .main-story-container {
    height: 55vh;
    margin-right: 0px;
    left: 0%;
  }

  .ourStory-text {
    font-size: 45px;
    width: 53vw;
    position: relative;
    left: 25%;
    top: -18%;
  }

  .main-story-text {
    position: relative;
    text-align: center;
    left: 23%;
    bottom: 23%;
    width: 55vw;
    font-size: 19px;
    line-height: 19px;
  }

  .when-text-container {
    margin: 0 auto;
    width: 65vw;
    height: 65vh;
    text-align: center;

  }

  .when-text {
    position: relative;
    bottom: 30%;
    font-size: 20px;
  }

  .location-text-map {
    transform: translateY(-15vh);
    font-size: 17px;
  }

  #map {
    width: 80vw;
    height: 40vh;
    margin: 0px auto;
    margin-top: 7vh;
    bottom: 28vh;
    border: 2px solid rgba(63, 81, 181, 0.4);
    position: relative;
    overflow: hidden;
  }

  .centered-registry-icon {
    margin-bottom: 200px;
    height: 200px;
    width: 200px;
    transform: translate(-50%, -70%);

  }

}

/* BELOW IS FOR iPad landscape */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .headerTop-color-div {
    height: 24.5vh;
  }

  .diamond-text {
    transform: translateY(190px);
    font-size: 45px;
  }

  .headerBottom-color-div {
    height: 25vh;
  }

  .circle-logo-home {
    left: 43vw;
  }

  .circle-logo-where {
    left: 43vw;
  }

  .circle-logo-when {
    left: 41.5vw;
  }

  .circle-logo-registry {
    left: 41.5vw;
  }

  .image-houser {
    margin: 0 auto;
    height: 20vh;
    width: 22vw;
  }

  .actual-image {
    margin: 0 auto;
    padding-bottom: 100px;
    position: relative;
    top: 55%;
    display: block;
    height: 51vh;
    width: 42vw;
    background-size: 305px 385px;
  }

  .ourStory-text {
    width: 53vw;
    position: relative;
    top: -18%;
  }

  .main-story-text {
    position: relative;
    text-align: center;
    left: 15%;
    bottom: 23%;
    width: 40vw;
    font-size: 19px;
    line-height: 21px;
  }

  .when-text-container {
    margin: 0 auto;
    width: 65vw;
    height: 45vh;
    text-align: center;

  }

  .when-text {
    position: relative;
    top: -35%;
    font-size: 23px;
  }

  .location-text-map {
    transform: translateY(-15vh);
    font-size: 25px;
  }

  #mapContainer {
    font-size: 20px;
  }

  #map {
    width: 80vw;
    height: 45vh;
    margin: 0px auto;
    margin-top: 7vh;
    bottom: 25vh;
    border: 2px solid rgba(63, 81, 181, 0.4);
    position: relative;
    overflow: hidden;
  }

}


/* iPad Pro */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1124px) and (orientation : portrait) {

  .headerTop-color-div {
    height: 12vh;
  }

  .diamond {
    height: 45vh;
  }

  .headerBottom-color-div {
    height: 13vh;
  }

  .diamond-text {
    position: relative;
    margin: 0 auto;
    width: 65vw;
    font-size: 50px;
    transform: translateY(275px);
  }

  .navbar-main {
    margin-top: -25%;
  }

  .nav-link {
    font-size: 24px;
  }

  .circle-logo-home {
    position: relative;
    left: 43.2vw;
    top: -14vh;
    height: 150px;
    width: 150px;
    transform: rotate(45deg);
    background-image: url(circle_logo.png);
    background-size: 120px 120px;
    background-repeat: no-repeat;
  }

  .circle-logo-when {
    position: relative;
    left: 41vw;
    top: -17.2vh;
    height: 150px;
    width: 150px;
    transform: rotate(135deg);
    background-image: url(circle_logo.png);
    background-size: 120px 120px;
    background-repeat: no-repeat;
  }

  .circle-logo-where {
    position: relative;
    left: 43.2vw;
    top: -14vh;
    height: 150px;
    width: 150px;
    transform: rotate(45deg);
    background-image: url(circle_logo.png);
    background-size: 120px 120px;
    background-repeat: no-repeat;
  }

  .circle-logo-registry {
    position: relative;
    left: 41vw;
    top: -17.2vh;
    height: 150px;
    width: 150px;
    transform: rotate(135deg);
    background-image: url(circle_logo.png);
    background-size: 120px 120px;
    background-repeat: no-repeat;
  }


  .main-container {
    display: block;
    margin: 0 auto;
    width: 100vw;
  }

  .image-houser {
    margin: 0 auto;
    height: 23vh;
    width: 90vw;
  }

  .actual-image {
    margin: 0 auto;
    position: relative;
    top: -60%;
    left: 7%;
    display: block;
    height: 35vh;
    width: 42vw;
    background-size: 305px 385px;
  }

  .main-story-container {
    height: 55vh;
    margin-right: 0px;
    left: 0%;
  }

  .ourStory-text {
    font-size: 45px;
    width: 53vw;
    position: relative;
    left: 25%;
    top: -25%;
  }

  .main-story-text {
    position: relative;
    text-align: center;
    left: 23%;
    bottom: 25%;
    width: 55vw;
    font-size: 19px;
    line-height: 19px;
  }

  .when-text-container {
    margin: 0 auto;
    width: 65vw;
    height: 65vh;
    text-align: center;

  }

  .when-text {
    position: relative;
    bottom: 30%;
    font-size: 20px;
  }

  .location-text-map {
    transform: translateY(-15vh);
    font-size: 17px;
    border-bottom: #C9CDD0 solid 50px;
  }

  #map {
    position: relative;
    padding-bottom: 55vh;
    height: 10vh;
    width: 80vw;
    border: 2px solid rgba(63, 81, 181, 0.4);
    overflow: hidden;
    bottom: 32vh;
  }

  .centered-registry-icon {
    margin: 200px;
    height: 200px;
    width: 200px;
    transform: translate(-155%, -190%);
    border-bottom: solid #C9CDD0 25px;

  }

}


@media only screen and (min-device-width :1366px) and (max-device-width : 1370px) and (orientation : landscape) {

  .headerTop-color-div {
    height: 17vh;
  }

  .diamond {
    height: 55vh;
  }

  .headerBottom-color-div {
    height: 18vh;
  }

  .diamond-text {
    position: relative;
    margin: 0 auto;
    width: 65vw;
    font-size: 60px;
    transform: translateY(255px);
  }

  .navbar-main {
    margin-top: -5%;
  }

  .nav-link {
    font-size: 30px;
  }

  .circle-logo-home {
    position: relative;
    left: 45vw;
    top: -14vh;
    height: 150px;
    width: 150px;
    transform: rotate(45deg);
    background-image: url(circle_logo.png);
    background-size: 120px 120px;
    background-repeat: no-repeat;
  }

  .circle-logo-when {
    position: relative;
    left: 43.5vw;
    top: -17.2vh;
    height: 150px;
    width: 150px;
    transform: rotate(135deg);
    background-image: url(circle_logo.png);
    background-size: 120px 120px;
    background-repeat: no-repeat;
  }

  .circle-logo-where {
    position: relative;
    left: 45vw;
    top: -14vh;
    height: 150px;
    width: 150px;
    transform: rotate(45deg);
    background-image: url(circle_logo.png);
    background-size: 120px 120px;
    background-repeat: no-repeat;
  }

  .circle-logo-registry {
    position: relative;
    left: 43.5vw;
    top: -17.2vh;
    height: 150px;
    width: 150px;
    transform: rotate(135deg);
    background-image: url(circle_logo.png);
    background-size: 120px 120px;
    background-repeat: no-repeat;
  }



  .main-container {
    display: flex;
    width: 99vw;
  }
  
  .image-houser {
    position: relative;
    left: -5%;
    background-color: #C9CDD0;
    margin-top: 10vh;
    height: 100vh;
    width: 40vw;
  }
  
  .actual-image {
    margin-left: 2.5vw;
    margin-right: 2vw;
    height: 800px;
    width: 620px;
    background-image: url(main_photo.JPG);
    background-size: 520px 700px;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 5px #ccc;
    border: solid #C9CDD0 2px;
  }
  

  .main-story-container {
    position: relative;
    left: 5%;
    margin: 0 auto;
    margin-top: 10vh;
    height: 10vh;
    font-family: Parisienne;
    font-size: 55px;
    text-align: center;
  }
  
  .ourStory-text {
    width: 25vw;
    font-size: 70px;
    margin-top: 0px;
  }
  
  .main-story-text {
    position: relative;
    right: 60px;
    width: 35vw;
    font-family: Montserrat;
    font-size: 25px;
    line-height: 35px;
  }

  .when-text-container {
    margin: 0 auto;
    width: 65vw;
    height: 65vh;
    text-align: center;

  }

  .when-text {
    position: relative;
    bottom: 30%;
    font-size: 20px;
  }

  .location-text-map {
    transform: translateY(-15vh);
    font-size: 25px;
    border-bottom: #C9CDD0 solid 50px;
  }

  #map {
    position: relative;
    padding-bottom: 55vh;
    height: 10vh;
    width: 80vw;
    border: 2px solid rgba(63, 81, 181, 0.4);
    overflow: hidden;
    bottom: 32vh;
  }

  .centered-registry-icon {
    margin: 200px;
    height: 200px;
    width: 200px;
    transform: translate(-155%, -150%);
    border-bottom: solid #C9CDD0 25px;

  }
}