body {
  font-family: Montserrat;
  background-color: #C9CDD0;
  margin: 0px;
}

.header-main {
  width: 100vw;
  height: 65vh;

}

.diamond {
  position: relative;
  top: -180px;
  background-color: #C9CDD0;
  height: 60vh;
  width: 100vw;
  clip-path: polygon(50% -5%, 100% 50%, 50% 105%, 0% 50%);
}

.diamond-text {
  width: 100vw;
  font-size: 65px;
  font-family: Parisienne;
  color: black;
  transform: translateY(200px);
  text-align: center;
}

/*GENERAL STYLING FOR THE FANCY SAUCE HEADER I MADE */

.headerTop-color-div {
  position: relative;
  top: 0px;
  z-index: -1;
  background-color: #242840;
  height: 22vh;
  width: 100vw;
}


.headerBottom-color-div {
  position: relative;
  top: -360px;
  z-index: -1;
  background-color: #516373;
  height: 22vh;
}

/*GENERAL STYLING FOR THE FANCY SAUCE NAVBAR I MADE */
.navbar-main {
  margin-top: 7vh;
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 20vh;
  width: 100vw;
}

.nav-link {
  font-size: 25px;
  text-decoration: none;
  color: black;
}

/*GENERAL STYLING FOR THE FANCY SAUCE HOMEPAGE I MADE */
.main-container {
  display: flex;
  width: 99vw;
}

.image-houser {
  background-color: #C9CDD0;
  margin-top: 10vh;
  height: 100vh;
  width: 40vw;
}

/* PHOTO NEEDS A HEIGHT/WIDTH/DISPLAY MEDIA QUERY /////////////////////////////////////////////////////////////////////////////////////////////// */
.actual-image {
  margin-left: 2.5vw;
  margin-right: 2vw;
  height: 800px;
  width: 620px;
  background-image: url(main_photo.JPG);
  background-size: 620px 800px;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 5px #ccc;
  border: solid #C9CDD0 2px;
}

/* THE TEXT INSIDE THE H1, A CHILD OF THIS BELOW ELEMENT NEEDS A MEDIA QUARY //////////////////////////////////////////////////////////////////////// */
.main-story-container {
  position: relative;
  left: 5%;
  margin: 0 auto;
  margin-top: 10vh;
  height: 10vh;
  /* width: 20vw; */
  font-family: Parisienne;
  font-size: 55px;
  text-align: center;
}

.ourStory-text {
  width: 25vw;
  font-size: 70px;
  margin-top: 0px;
}

/* NEEDS TEXT MEDIA QUERRY ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.main-story-text {
  position: relative;
  right: 60px;
  width: 35vw;
  font-family: Montserrat;
  font-size: 25px;
  line-height: 35px;
}

.location-text-map {
  margin: 0 auto;
  margin-bottom: 15vh;
  width: 68vw;
  font-family: Montserrat;
  text-align: center;
  font-size: 30px;
}

.map-location-link {
  text-decoration: none;
  color: black;
}

.map-location-link:hover {
  margin-top: 5px;
  text-decoration: underline;
}

.location-image {
  height: 115px;
  width: 190px;
}

.location-description {
  height: 4vh;
  width: 13vw;
}

.circle-logo-home {
  position: relative;
  left: 44vw;
  top: -14vh;
  height: 150px;
  width: 150px;
  transform: rotate(45deg);
  background-image: url(circle_logo.png);
  background-size: 120px 120px;
  background-repeat: no-repeat;
}

.circle-logo-when {
  position: relative;
  left: 42.4vw;
  top: -17.2vh;
  height: 150px;
  width: 150px;
  transform: rotate(135deg);
  background-image: url(circle_logo.png);
  background-size: 120px 120px;
  background-repeat: no-repeat;
}

.circle-logo-where {
  position: relative;
  left: 44vw;
  top: -14vh;
  height: 150px;
  width: 150px;
  transform: rotate(45deg);
  background-image: url(circle_logo.png);
  background-size: 120px 120px;
  background-repeat: no-repeat;
}

.circle-logo-registry {
  position: relative;
  left: 42.4vw;
  top: -17.2vh;
  height: 150px;
  width: 150px;
  transform: rotate(135deg);
  background-image: url(circle_logo.png);
  background-size: 120px 120px;
  background-repeat: no-repeat;
}

.when-text-container {
  width: 100vw;

}

.when-text {
  margin: 0 auto;
  margin-bottom: 15vh;
  width: 68vw;
  font-family: Montserrat;
  text-align: center;
  font-size: 30px;
}

.centered-registry-icon {
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#map {
  position: relative;
  bottom: 10vh;
  width: 40vw;
  height: 45vh;
  border: 2px solid rgb(63, 81, 181, 0.4);
  margin: 0 auto;
  /* margin-bottom: 10vh;
  margin-top: 10vh; */

}

/* BELOW IS MAIN GENERAL MEDIA QUEREY FOR SMALLER DEVICES */

@media screen and (max-width: 480px) {

  /* FOR THE HEADER STYLING */

  .headerTop-color-div {
    height: 23vh;
  }

  .headerBottom-color-div {
    height: 23vh;
  }

  .diamond-text {
    position: relative;
    margin: 0 auto;
    width: 65vw;
    font-size: 40px;
    transform: translateY(180px);
  }

  /* FOR THE NAVBAR STYLING */
  .navbar-main {
    margin: 0px;
    padding: 0px;
  }

  .nav-link {
    font-size: 14px;
  }


  /* FOR THE HOME PAGE STYLING */
  .main-container {
    display: block;
    margin: 0 auto;
    width: 100vw;
  }

  .image-houser {
    margin: 0 auto;
    height: 23vh;
    width: 90vw;
  }

  .actual-image {
    margin: 0 auto;
    position: relative;
    display: block;
    height: 23vh;
    width: 42vw;
    background-size: 155px 185px;
  }

  .main-story-container {
    height: 50vh;
    margin-right: 0px;
    left: 0%;
  }

  .ourStory-text {
    font-size: 45px;
    width: 53vw;
    position: relative;
    left: 25%;
    top: -18%;
  }

  .main-story-text {
    position: relative;
    text-align: center;
    left: 23%;
    bottom: 25%;
    width: 55vw;
    font-size: 15px;
    line-height: 14px;
  }

  /* FOR THE WHEN PAGE STYLING */

  .when-text-container {
    margin: 0 auto;
    width: 65vw;
    text-align: center;

  }

  .when-text {
    transform: translate(-3%, -12%);
    font-size: 17px;
  }

  .location-text-map {
    transform: translateY(-10vh);
    font-size: 17px;
  }

  #map {
    width: 80vw;
    height: 60vh;
    margin: 0px auto;
    margin-top: 7vh;
    border: 2px solid rgba(63, 81, 181, 0.4);
    position: relative;
    overflow: hidden;
  }

}





/* BELOW IS FOR IPHONE X  and larger width screens*/
@media screen and (max-height: 900px)and (max-width: 1000px) {
  .headerTop-color-div {
    height: 22.5vh;
  }

  .diamond {
    width: 98vw;
  }

  .diamond-text {
    width: 85vw;
    transform: translateY(190px);
    font-size: 40px;
  }

  .headerBottom-color-div {
    height: 22.5vh;
  }

  /* BELOW IS THE transitionING Logo */
  .circle-logo-home {
    position: relative;
    left: 38vw;
    top: -10vh;
    height: 75px;
    width: 75px;
    background-size: 60px 60px;
  }

  .circle-logo-when {
    position: relative;
    left: 36vw;
    top: -11.5vh;
    height: 75px;
    width: 75px;
    background-size: 60px 60px;
  }

  .circle-logo-where {
    position: relative;
    left: 38vw;
    top: -10vh;
    height: 75px;
    width: 75px;
    background-size: 60px 60px;
  }

  .circle-logo-registry {
    position: relative;
    left: 36vw;
    top: -11.5vh;
    height: 75px;
    width: 75px;
    background-size: 60px 60px;
  }
}

/* BELOW IS FOR IPHONE 6/7/8 PLUS! */
@media screen and (max-height: 800px) {
  .headerTop-color-div {
    height: 24.5vh;
  }

  .diamond-text {
    transform: translateY(170px);
    font-size: 37px;
    width: 65vw;
  }

  .headerBottom-color-div {
    height: 25vh;
  }

  /* .circle-logo-home {
    position: relative;
    left: 41vw;
    top: -10vh;
    height: 75px;
    width: 75px;
    background-size: 60px 60px;
  } */

}

/* BELOW IS FOR IPHONE 6/7/8 */

@media screen and (max-height: 700px) {
  .headerTop-color-div {
    height: 27.5vh;
  }


  .diamond-text {
    transform: translateY(150px);
    font-size: 37px;
  }

  .headerBottom-color-div {
    height: 27.3vh;
  }

  .image-houser {
    margin: 0 auto;
  }

}

/* BELOW FOR IPADS PORTRAIT/LANDSCAPE 1,2, MINI, AIR */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  /* FOR THE HEADER STYLING */

  .headerTop-color-div {
    height: 18vh;
  }

  .headerBottom-color-div {
    height: 18vh;
  }

  .diamond-text {
    position: relative;
    margin: 0 auto;
    width: 65vw;
    font-size: 50px;
    transform: translateY(250px);
  }

  /* FOR THE NAVBAR STYLING */
  .navbar-main {
    margin-top: -5%;
  }

  .nav-link {
    font-size: 24px;
  }

  .circle-logo-home {
    position: relative;
    left: 40.5vw;
    top: -14vh;
    height: 150px;
    width: 150px;
    transform: rotate(45deg);
    background-image: url(circle_logo.png);
    background-size: 120px 120px;
    background-repeat: no-repeat;
  }

  .circle-logo-when {
    position: relative;
    left: 38vw;
    top: -17.2vh;
    height: 150px;
    width: 150px;
    transform: rotate(135deg);
    background-image: url(circle_logo.png);
    background-size: 120px 120px;
    background-repeat: no-repeat;
  }

  .circle-logo-where {
    position: relative;
    left: 40.5vw;
    top: -14vh;
    height: 150px;
    width: 150px;
    transform: rotate(45deg);
    background-image: url(circle_logo.png);
    background-size: 120px 120px;
    background-repeat: no-repeat;
  }

  .circle-logo-registry {
    position: relative;
    left: 38vw;
    top: -17.2vh;
    height: 150px;
    width: 150px;
    transform: rotate(135deg);
    background-image: url(circle_logo.png);
    background-size: 120px 120px;
    background-repeat: no-repeat;
  }

  /* FOR THE HOME PAGE STYLING */
  .main-container {
    display: block;
    margin: 0 auto;
    width: 100vw;
  }

  .image-houser {
    margin: 0 auto;
    height: 23vh;
    width: 90vw;
  }

  .actual-image {
    margin: 0 auto;
    position: relative;
    top: -60%;
    display: block;
    height: 35vh;
    width: 42vw;
    background-size: 305px 385px;
  }

  .main-story-container {
    height: 55vh;
    margin-right: 0px;
    left: 0%;
  }

  .ourStory-text {
    font-size: 45px;
    width: 53vw;
    position: relative;
    left: 25%;
    top: -18%;
  }

  .main-story-text {
    position: relative;
    text-align: center;
    left: 23%;
    bottom: 23%;
    width: 55vw;
    font-size: 19px;
    line-height: 19px;
  }

  .when-text-container {
    margin: 0 auto;
    width: 65vw;
    height: 45vh;
    text-align: center;

  }

  .when-text {
    transform: translate(-1%, -65%);
    font-size: 17px;
  }

  .location-text-map {
    transform: translateY(-15vh);
    font-size: 17px;
  }

  #map {
    width: 80vw;
    height: 40vh;
    margin: 0px auto;
    margin-top: 7vh;
    bottom: 28vh;
    border: 2px solid rgba(63, 81, 181, 0.4);
    position: relative;
    overflow: hidden;
  }

  .centered-registry-icon {
    margin-bottom: 200px;
    height: 200px;
    width: 200px;
    transform: translate(-50%, -70%);

  }

}

/* FOR IPAD PRO */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {

  .headerTop-color-div {
    height: 13.5vh;
  }

  .headerBottom-color-div {
    height: 13.5vh;
  }

  .diamond {
    height: 40vh;
  }

  .diamond-text {
    position: relative;
    margin: 0 auto;
    width: 65vw;
    font-size: 51px;
    transform: translateY(250px);
  }

  .navbar-main {
    margin-top: -33%;
  }

  .nav-link {
    font-size: 24px;
  }

  .circle-logo-home {
    position: relative;
    left: 42.8vw;
    top: -16vh;
    height: 150px;
    width: 150px;
    transform: rotate(45deg);
    background-image: url(circle_logo.png);
    background-size: 120px 120px;
    background-repeat: no-repeat;
  }

  .circle-logo-when {
    position: relative;
    left: 41vw;
    top: -17.2vh;
    height: 150px;
    width: 150px;
    transform: rotate(135deg);
    background-image: url(circle_logo.png);
    background-size: 120px 120px;
    background-repeat: no-repeat;
  }

  .circle-logo-where {
    position: relative;
    left: 42.8vw;
    top: -16vh;
    margin-bottom: 15vh;
    height: 150px;
    width: 150px;
    transform: rotate(45deg);
    background-image: url(circle_logo.png);
    background-size: 120px 120px;
    background-repeat: no-repeat;
  }

  .circle-logo-registry {
    position: relative;
    left: 41vw;
    top: -17.2vh;
    height: 150px;
    width: 150px;
    transform: rotate(135deg);
    background-image: url(circle_logo.png);
    background-size: 120px 120px;
    background-repeat: no-repeat;
  }

  /* FOR THE HOME PAGE STYLING */
  .main-container {
    display: block;
    margin: 0 auto;
    width: 100vw;
  }

  .image-houser {
    margin: 0 auto;
    height: 23vh;
    width: 90vw;
  }

  .actual-image {
    margin: 0 auto;
    position: relative;
    top: -60%;
    left: 6%;
    display: block;
    height: 35vh;
    width: 42vw;
    background-size: 305px 385px;
  }

  .main-story-container {
    height: 55vh;
    margin-right: 0px;
    left: 0%;
  }

  .ourStory-text {
    font-size: 55px;
    width: 53vw;
    position: relative;
    left: 25%;
    top: -30%;
  }

  .main-story-text {
    position: relative;
    text-align: center;
    left: 23%;
    bottom: 30%;
    width: 55vw;
    font-size: 19px;
    line-height: 21px;
  }

  .when-text-container {
    margin: 0 auto;
    width: 65vw;
    height: 45vh;
    text-align: center;

  }

  .when-text {
    transform: translate(-1%, -115%);
    font-size: 17px;
  }

  .location-text-map {
    transform: translateY(-30vh);
    font-size: 17px;
  }

  #map {
    width: 80vw;
    height: 40vh;
    margin: 0px auto;
    margin-top: 7vh;
    margin-bottom: 100px;
    bottom: 40vh;
    border: 5px solid rgba(63, 81, 181, 0.4);
    position: relative;
    overflow: hidden;
  }

  .centered-registry-icon {
    padding: 150px;
    height: 200px;
    width: 200px;
    transform: translate(-50%, -70%);

  }


}