body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #51d0de;
}

#master {
    display: flex;
    justify-content: flex-end;
}

.button-wrapper {
    display: inline-block;
    margin-right: 25px;

}

.add-btn {
    display: block;
    width: 65px;
    margin-bottom: 10px;
    font-size: 15px;
    color: #d9d9d9;
    background-color: #6f4e37;

}

.delete-btn {
    display: block;
    width: 65px;
    font-size: 15px;
    color: #d9d9d9;
    background-color: #6f4e37;

}

.text-header {
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    text-decoration-line: underline;
    font-weight: 900;
}

#not-completed {
    margin-right: 8px;
    border: 2px solid black;
    height: 100vh;
    width: 30%;
}

#in-progress {
    margin-right: 8px;
    border: 2px solid black;
    height: 100vh;
    width: 30%;

}

#completed {
    border: 2px solid black;
    height: 100vh;
    width: 30%;
}

.new-todo {
    margin-left: 9%;
    border: 2px solid black;
    list-style: none;
    background-color: #6f4e37;
    width: 350px;
    height: 150px;
}

#todo-button{
    width: 35px;
    height: 20px;
    content: 
}