h1{
    margin-bottom: 5px;
}

h2{
    margin-bottom: 5px;
    margin-top: 5px;
}
.box1{
    padding-top: 5px;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: dodgerblue;
}
.box2{
    padding-top: 5px;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: purple;
}
.box3{
    padding-top: 5px;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: rosybrown;
}
.box4{
    padding-top: 5px;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: peachpuff;
}
.turtle-card{
    display: grid;
    grid-template-columns: 900px 900px;
    width: 500px;
    height: 400px;
    margin: 5px;
}
.turtle-text{
    margin: 15px;
    text-align: center;
}
.turtle-image{
    margin-left: 40%;
    height: 300px;
}
.Spring{
    background-color: yellowgreen;
}
.Summer{
    background-color: lightskyblue;
}
.Fall{
    background-color: burlywood;
}
.Winter{
    background-color: cornflowerblue;
}