body {
    background: #111;
    overflow-y: auto;
}

header {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

footer {
    position: relative;
    bottom: -130px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #818181;

} /*the above is the standard i want across the entire website; fonts and themes*/

.topImagecontainer{
    position: relative;
    width: 100%;
    z-index: 0;
}

.actual-image {
    opacity: 0.75;
}


.text-box1 {     /*this is the text box with the backgeound w/in the image*/
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: teal; 
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: .75;
}

/*the above is for the image and the text box within the image*/
/*menu button code below*/

.bar1, .bar2, .bar3 {   
    width: 35px;
    height: 5px;
    background-color: teal;
    margin: 6px 0;
    transition: 0.4s;  
} 

.menubut {
    display: inline-block;
    cursor: pointer;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .menubut {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}