button {
    height: 60px;
    background-color: #fff;
    border-radius: 3px;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
    border: 3px solid saddlebrown;

}
input {
    border: 3px solid saddlebrown;
    width: 100px;
    height: 25px;

}