body {
    background: seashell;
}
h1 {
    left: 30%;
    position: fixed;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 75px;
    margin: 15px;
}
.navbar {
  position: fixed;
  font-size: 25px;
  word-spacing: 7.5px;
}



/* .image1 {
  background-image: url('"http://timdurtschi.files.wordpress.com/2011/01/timdurtschichadsgap.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .75;
  min-height: 500px;
  padding: 5%;
} */ 