body {
    background: seashell;
}
h1 {
    left: 30%;
    position: fixed;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 75px;
    margin: 15px;
 
}
.box {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 99;
  }

  #content {
    display: flex;

    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
  }
  
  .box {
    flex-grow: 1;
    border: 3px solid rgba(0,0,0,.2);
  }
  
  .box1 {
    flex-grow: 2;
    border: 3px solid rgba(0,0,0,.2);
  }