body{
    background-color: slategrey;
    color: white;
}
img{
    height: 450px;
    width: 425px;
}
.hero-box{
    display: flex;
    justify-content: space-around, center;
    flex-direction: column;
    padding: 18px;
    border: black solid 1px;
    height: 750px;
    width: 525px;
}
.container{
    margin-left: 30%;
}