//About me Styling is directly below
section.about
    background-color: $color-grey-light-1
    padding: 25rem 0
    margin-top: -20vh
    //the above margin is calculated by subtracting polygon vh 75 from header height vh 95 = -20vh

.section-feature 
    padding: 20rem 0
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.801), rgba($color-primary-dark, 0.801)),url(../img/mountain-lake.jpeg)
    background-size: cover
    
   