/* the navigation menu linked with JS */
.thesidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 0px;
    transition: 0.5s;
}
.thesidenav a {
    padding: 0;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}
.thesidenav .closebutton {
    position: absolute;
    right: 25px;
    font-size: 36px;
    color: white;
    margin-left: 50px;
  }
.thesidenav a:hover {
    color: brown;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
/* End of the SIDENAVE Creation */



/* First Page Content */
body{
    background-image: url('https://images.pexels.com/photos/752405/pexels-photo-752405.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-attachment: scroll;
}
#MainContainer {
 
    overflow: hidden;
    position: absolute;
    width: 98%;
    height: 98%;
    display: flex;
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center;

   
}
.main-content{
    border: 3px solid black;
    width: 100%;
    padding: 20px 0;
    font-size: 25px;
    justify-content: center;

}





/* media queries */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }