/* 4 types of positoning properties all elemtents are naturally  (1)"static" and that is flow of the page as if you were 
reading from top left to bottom right; this doesnt need to be set its automatic. (2)"Relative" any child will be
positioned relative to the nearest postion element...When you say left 50 px top 25 px that means you are going
50 and 25 from the top left. the child will always appear within the parent of which it was created in, NOT the
grandparent. LIMITATIONS TO RELATIVE, can be hard to put things exactly in the right place because
everything is relavent, moving th parent around affects where the child will be going. (3) "Absolute" lets
you postions things relative to grandparents, parents and even above those two on the family tree. tkes things
out of the usual flow of the page. Things get turned into inline elements when using this property
(4)"fixed" it is the same thing as absolute but it will stick to the screen whemn you scroll.*/

#blue {
    position: absolute;
    left: 5px;
    height:  500px;
    width: 200px; 
    background: blue;
}
#white {
    position: absolute;
    left: 200px;
    height:  500px;
    width: 200px;
    background: white;
}
#red {
    position: absolute;
    left: 400px;
    height:  500px;
    width: 200px; 
    background: red;
}
#germ1 {
    position: relative;
    left: 700px;
    height: 166.66px;
    width: 725px; 
    background: black;
}
#germ2 {
    position: relative;
    left: 700px;
    height: 166.66px;
    width: 725px;
    background: red;
}
#germ3 {
    position: relative;
    left: 700px;
    height: 166.66px;
    width: 725px; 
    background: yellow;
}
#mad1 {
    position: absolute;
    top: 550px;
    height: 400px;
    width: 200px;
    background: white;
}
#mad2 {
    position: absolute;
    top: 550px;
    left: 205px;
    height: 200px;
    width: 500px;
    background: red;
}
#mad3 {
    position: absolute;
    top: 750px;
    left: 205px;
    height: 200px;
    width: 500px;
    background: green;
}
#swiss1 {
    position: absolute;
    top: 550px;
    left: 725px;
    height: 400px;
    width: 600px; 
    background: red;
}
#swiss2 {
    position: relative;
    left: 300px;
    top: 100px;
    margin: 5px;
    height: 200px;
    width: 25px;
    background: white;
}
#swiss3 {
    position: relative;
    left: 213px;
    top: -15px;
    margin: 5px;
    height: 25px;
    width: 200px;
    background: white;
}
#swed1 {
    position: absolute;
    top: 955px;
    left: 5px;
    height: 400px;
    width: 600px; 
    background: rgb(4, 115, 167);
}
#swed2 {
    position: relative;
    left: 33%;
    height: 100%;
    width: 75px;
    background: yellow;
}
#swed3 {
    position: relative;
    top: -58%;
    height: 75px;
    width: 100%; 
    background: yellow;
}

#gambia1 {
    position: absolute;
    top: 955px;
    left: 615px;
    height: 166.66px;
    width: 700px; 
    background: rgb(216, 38, 38);
}
#gambia2 {
    position: relative;
    top: 166.66px;
    height: 72px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: darkblue;
}
#gambia3 {
    position: relative;
    top: 166.66px;
    height: 166.66px;
    width: 700px; 
    background: green;
}

#tonga1 {
    position: absolute;
    top: 1400px;
    height: 400px;
    width: 800px; 
    background: red;
}
#tonga2 {
    position: relative;
    height: 175px;
    width: 300px; 
    background: white;
}
#tonga3 {
    position: relative;
    left: 125px;
    top: 12%;
    bottom: 12%;
    height: 125px;
    width: 50px;
    background: red;
}
#tonga4 {
    position: relative;
    bottom: 65px;
    left: 78px;
    height: 50px;
    width: 140px;
    background: red;
}

#jap {
    position: absolute;
    bottom: -900px;
    right: 200px;
    height: 200px;
    width: 200px;
    background-color:red;
    border-radius: 50%;
  }

  #greece1 {
    position: absolute;
    top: 1850px;
    height: 50px;
    width: 800px; 
    background: blue;
}
#greece2 {
    position: absolute;
    top: 1900px;
    height: 50px;
    width: 800px; 
    background: white;
}
#greece3 {
    position: absolute;
    top: 1950px;
    height: 50px;
    width: 800px; 
    background: blue;
}
#greece4 {
   position: absolute;
    top: 2000px;
    height: 50px;
    width: 800px; 
    background: white;
}
 #greece5 {
    position: absolute;
    top: 2050px;
    height: 50px;
    width: 800px; 
    background: blue;
}
#greece6 {
    position: absolute;
    top: 2100px;
    height: 50px;
    width: 800px; 
    background: white;
}
#greece7 {
    position: absolute;
    top: 2150px;
    height: 50px;
    width: 800px; 
    background: blue;
}
#greece8 {
   position: absolute;
    top: 2200px;
    height: 50px;
    width: 800px; 
    background: white;
}

#greece9 {
    position: absolute;
    top: 2250px;
    height: 50px;
    width: 800px; 
    background: blue;
}

#greece10{
    position: absolute;
    margin-bottom: 10px;
    top: 1850px;
    height: 225px;
    width: 225px; 
    background: blue;
}
#greece11{
    position: absolute;
    height: 111%;
    left: 35%;
    width: 56.25px; 
    background: white;
}
#greece12{
    position: absolute;
    top: 43%;
    height: 56.25px;
    width: 100%; 
    background: white;
}

#niger1 {
    position: absolute;
    padding-top: 10px;
    top: 2350px;
    height: 110px;
    width: 725px; 
    background: red;
}
#niger2 {
    position: relative;
    top: 110px;
    height: 125px;
    width: 725px; 
    background: white;
}
#niger3 {
    position: relative;
    top: 15%;
    left: 45%;
    height: 100px;
    width: 100px;
    background-color:red;
    border-radius: 50%;
}
#niger4 {
    position: relative;
    top: 110px;
    margin-bottom: 10px;
    height: 125px;
    width: 725px; 
    background: green;
}

#mald1 {
    position: absolute;
    margin-bottom: 50px;
    top: 2750px;
    height: 400px;
    width: 800px; 
    background: red;
}
#mald2 {
    position: relative;
    left: 200px;
    top: 100px;
    height: 200px;
    width: 400px; 
    background: green;
}
#mald3 {
    position: relative;
    height: 150px;
    width: 150px;
    top: 25px;
    left: 125px;
    background-color:white;
    border-radius: 50%;

}
#mald4 {
    position: relative;
    left: 25px;;
    height: 150px;
    width: 150px;
    background-color:green;
    border-radius: 50%;
}