* {
    box-sizing: border-box;
    font-size: 0px;
}

.light-pink {
    background: pink;
    display: block;
    height: 250px;
    padding: 25px;
}

.dark-pink {
    background: #EE2E84;
    height: 250px;
    width: 23.29%;
    margin: 12px;
    display: inline-block;
}

.light-blue {
    background: #85CFD8;
    height: 250px;
    width: 46.45242489%;
    margin: 24px;
    display: inline-block;
}

.green {
    background: #8DC63F;
    display: inline-block;
    width: 70%;
    height: 250px;
    margin: 12px;
}

.orange {
    background: #E76E34;
    display: inline-block;
    width: 25%;
    height: 250px;
    margin: 12px;
}